<div class="user_card">
	<h2><%= @user.username %></h2>
	<p><%= @user.bio %></p>
</div>

<form class="logout" action="/logout" method="post">
	<input type="Submit" value="Logout">
</form>

<form action="/quacks/create" method="post">
	<input type="hidden" name="user_id" value="<%= @user.id %>">
  <textarea name="content" rows="3" cols="45">
  </textarea>
  <input type="submit" value="Add Quack" />
</form>

<ul>
<% @user.quacks.each do |quack| %>
	<li><%= quack.content %></li>
	<% end %>
</ul>

<div class="container">
	<!-- consider changing so that each quack links to the quack's individual page (which displays only that quack), and the delete link is on that page, not this one. -->
<form action="/quacks/<%= params[:id] %>/delete" method="post"> 
  <input type="submit" value="Delete">
</form>
</div>